@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F14D1D];
  font-family: "Poppins", sans-serif;
}

@layer components {
  .container {
    @apply bg-[#ffffff] text-[14px]  px-[24px] py-[20px] w-[90%]  left-[50%] top-[50%] absolute rounded-xl;
    transform: translate(-50%, -50%);
    @apply sm:text-lg sm:px-[48px] sm:py-[44px] sm:w-[60%];
  }
}
.search-container {
  @apply w-full grid gap-[20px];
  grid-template-columns: 9fr 3fr;
}

.search-container input {
  @apply text-lg p-[12px] outline-none border-none w-full;
  border-bottom: 2px solid #202030;
}

.search-container button {
  @apply text-sm bg-[#f4c531] font-medium border-none rounded-md;
  @apply sm:text-lg;
}

img {
  @apply block w-[60%];
  margin: 1.8em auto 0 auto;
}

.details {
  @apply bg-[#f4c531] relative text-center py-[12px];
  margin: -4.3em 0 0 0;
}

.details h2 {
  @apply text-lg font-semibold;
}

.details h4 {
  @apply text-base font-normal;
}

#show-recipe {
  @apply text-base relative top-[8px] left-[66%] py-[16px] px-[12px] bg-[#f4c531] border-none  rounded-md font-semibold;
  @apply sm:top-[24px] sm:left-[75%];
}

#recipe {
  @apply absolute bg-[#fff] min-h-[100%] w-[100%] top-0 left-0 z-[2] rounded-xl hidden;
}

#recipe pre {
  @apply text-[#303040] text-xl;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2.5em 1.2em 1.2em 1.2em;
}

#hide-recipe {
  @apply text-lg relative w-[1.8em] h-[1.8em] bg-[#f4c531] border-none top-[20px] left-[90%] rounded-md;
}

ul {
  @apply text-lg relative grid gap-y-[12px] gap-x-[18px] capitalize text-[#303040];
  padding: 1.2em 0 0 1.2em;
  grid-template-columns: auto auto;
}

h3 {
  @apply text-center mt-[28px] text-[#303040];
}
